@import './variable.scss';
* {
	box-sizing: border-box;
}
body {
  font-family: "Quicksand", sans-serif;
  background: $body-bg;
  margin: 0;
  height: 100vh;
  #root {
    padding: 0 50px;
  }
  img {
    width: 100%;
    height: auto;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}